@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

/* header {
    background-image: url('./assets/hero3-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */

#floatingHeroImage {
    animation-name: floatingHeroImageAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes floatingHeroImageAnimation {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(10px);
    }
}